@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
  background-color: #fff;
  padding: 0px;
  font: 16.0px/1.5 Crimson Pro, serif; 
  color: #595959;
  font-weight: 400;
  margin: 0;
  transform: scale(1.5); /* 调整缩放比例，1是原始大小 */
  transform-origin: 0 0; /* 设置缩放的基点为左上角 */
}
